.paazlBackendData{
    border: 1px black solid;
    margin: 10px 0px;
}
.paazlBackendData td,.paazlBackendData th{
    border: 1px black solid;
}

.paazlBackendData tr td,.paazlBackendData tr th {
    padding: 5px;
}
